* {
    background-color: rgb(235, 149, 213);
    font-family: 'Berkshire Swash', cursive;
}

body {
    widows: 960px;
    margin: 0 auto;
}

#banner {
    border: solid black 10px;
    border-radius: 15%;
    width: 70%;
}

#title-div {
    text-align: center;
    padding: 0;
    margin-bottom: 0;
}

#hb-banner-container{
    margin-top: 8px;
}

#listen {
    margin-bottom: 0px;
    font-size: 1.5em;
}


#episodes-card {
    width: 60%;
    margin: auto;
    padding: 10px;
}

#ep-container {
    padding-top: 16px;
    align-content: center;
    border-radius: 1.5%;
}